@import "_variables";

.jumbotron_container {
    background-image: url("../images/jumbotron.jpg");
    background-size: 100%;
    background-position-y: -150px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba($darkBlue, 0.5);

    @include desktop-down() {
        height: 400px;
        background-size: 120%;
    }

    @include tablet-down() {
        height: 350px;
        background-size: 200%;
        background-position-x: -50vw;
        background-position-y: -23vw;
    }

    @include phone-down() {
        height: 300px;
        background-position-y: -15vw;
    }
}

.jumbotron_container .navbar a {
    color: $blue;
    font-weight: bold;
}

.jumbotron_container .navbar_logo {
    @include tablet-down() {
        padding: 0;
    }
}

.content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop-down() {
        width: 85%;
    }

    @include tablet-down() {
       width: 90%;
    }
}

.whatWeDo {
    width: 100%;
    margin-top: 140px;
    margin-bottom: 140px;

    @include desktop-down() {
        width: 100%;
    }

    @include tablet-down() {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.whatWeDo h1 {
    line-height: 1.3em;
    font-family: "Roboto Slab";
    font-weight: normal;
    font-size: 1rem;
}

.banner_logo {
    position: relative;
    transform: translateX(-300px);

    @include desktop-down() {
        transform: translateX(-30vw);
    }

    @include tablet-down() {
        transform: translateX(-20vw);
    }

    @include phone-down() {
        transform: translateX(-30vw);
    }
}

.triangle {
    width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 100px solid $blue;
    position: relative;

    @include phone-down() {
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
        border-bottom: 50px solid $blue;
    }
}

.triangle p {
    position: absolute;
    left: 43%;
    top: 65px;
    transform: translateX(-39%);
    width: 200px;
    color: white;
    font-family: "Roboto Slab";
    font-size: 0.9rem;

    @include phone-down() {
        font-size: 0.6rem;
        transform: translateX(-20%);
        top: 35px;
    }
}

.line {
    width: 300px;
    height: 5px;
    background: $blue;
    position: absolute;
    top: 0;
    left: 50%;

    @include phone-down() {
        width: 200px;
    }
}

.chimney {
    position: absolute;
    top: -20px;
    right: 0;

    @include phone-down() {
        top: -10px;
    }
}

.chimney_square {
    width: 30px;
    height: 30px;
    background: $blue;

    @include phone-down() {
        width: 20px;
        height: 20px;
    }
}

.chimney_triangle {
    width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 0px solid transparent;
	border-top: 20px solid $blue;

    @include phone-down() {
        border-left: 20px solid transparent;
        border-top: 10px solid $blue;
    }
}

.banner_container {
    background: $blue;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;

    @include tablet-down() {
        height: auto;
    }
}

.banner {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Roboto Slab";
    font-size: 0.75rem;

    @include desktop-down() {
        width: 90%;
    }

    @include tablet-down() {
        width: 95%;
        flex-wrap: wrap;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    @include phone-down() {
        width: 95%;
    }
}

.banner_item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet-down() {
        width: 50%;
    }
}

.banner_item img {
    height: 50px;

    @include tablet-down() {
        width: 75px;  
        margin-bottom: 5px;
    }

    @include phone-down() {
        width: 60px;
        margin-bottom: 2px;
    }
}

.banner_item p {
    margin-top: 10px;

    @include tablet-down() {
        margin-top: 0;
    }

    @include phone-down() {
        font-size: 0.6rem;
    }
}

.banner_item h2 {
    font-size: 2.5rem;

    @include phone-down() {
        font-size: 2rem;
    }
}

.roofing_photos {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    width: 100%;

    @include tablet-down() {
        margin-top: 100px;
    }

    @include phone-down() {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.roofing_photos img {
    width: 250px;
    border: 1px solid rgba($color: gray, $alpha: 0.5);
    box-shadow: 0 2px 5px rgba(154,160,185,.05), 0 3px 10px rgba(166,173,201,.2);

    @include desktop-down() {
        width: 27vw;
    }

    @include phone-down() {
        width: 100%;
        height: 113.333vw;
        margin-bottom: 40px;
    }
}

.roofing_para {
    margin-top: 75px;
    line-height: 1.3em;
    font-family: "Roboto Slab";
    width: 100%;

    @include tablet-down() {
        margin-top: 50px;
    }

    @include phone-down() {
        margin-top: 20px;
    }
}

.trading_counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 140px;    
    width: 100%;

    @include tablet-down() {
        margin-top: 100px;
    }    
}

.supplies_para {
    margin-bottom: 100px;
    margin-top: 10px;
    line-height: 1.3em;
    font-family: "Roboto Slab";
    width: 100%;

    @include tablet-down() {
        margin-bottom: 75px;
    }

    @include phone-down() {
        margin-bottom: 50px;
    }
}

.trading_header {    
    font-size: 2rem;
    color: $darkBlue;
    font-family: "Roboto Slab";
}

.trading_photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    @include phone-down() {
        justify-content: center;
    }
}

.trading_photos img {
    width: 250px;
    margin-bottom: 30px;
    border: 1px solid rgba($color: gray, $alpha: 0.5);
    box-shadow: 0 2px 5px rgba(154,160,185,.05), 0 3px 10px rgba(166,173,201,.2);

    @include desktop-down() {
        width: 25vw;
    }

    @include tablet-down() {
        width: 43vw;
    }

    &:last-child {
        @include tablet-down() {
            display: none;
        }
    }

    @include phone-down() {
        width: 100%;
        height: 68vw;
        display: none;

        &:nth-child(1) {
            display: inline;
        }

        &:nth-child(2) {
            display: inline;
        }

        &:nth-child(3) {
            display: inline;
        }

        &:nth-child(4) {
            display: inline;
        }
    }
}

.trading_button {
    color: white;
    background: $darkBlue;
    font-family: "Roboto Slab";
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;

    &:hover {
        background: $blue;      
    }

    @include phone-down() {
        width: 100%;
    }
}

#testimonials {
    margin-top: 140px;
    margin-bottom: 140px;
    width: 85%;
    height: 300px;
    background: rgba(black, $alpha: 0.005);
    font-family: "Roboto Slab";
    color: $darkBlue;
    position: relative;
    box-shadow: 0 2px 5px rgba(154,160,185,.05), 0 7px 20px rgba(166,173,201,.2);
    list-style-type: none;
    padding: 40px;

    @include tablet-down() {
        width: 100%;
        padding: 10px;
        height: 200px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    @include phone-down() {
        height: 175px;
    }
}

.testimonial {
    position: absolute;        
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;   
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.showing{
    opacity: 1;
    z-index: 2;
}

.testimonial h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;

    @include tablet-down() {
        font-size: 1.3rem;
    }

    @include phone-down() {
        font-size: 1rem;
    }
}

.testimonial p {
    @include phone-down() {
        font-size: 0.8rem;
    }
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Roboto Slab";
    color: $darkBlue;    
}

.form label {
    margin-top: 20px;
    margin-bottom: 5px;
}

.form input,
.form textarea {
    border: 2px solid rgba(gray, 0.4);
}

input[name="name"],
input[name="phone"],
input[name="email"] {
    width: 350px;
    padding: 5px;

    @include phone-down() {
        width: 100%;
    }
}

.contact_error {
    width: 100%;
    margin-top: 20px;
    font-family: "Roboto Slab";
    line-height: 1.3em;
    font-size: 0.7rem;
}

.contact_error span {
    color: $blue;
}

.form textarea {
    width: 600px;
    padding: 5px;

    @include desktop-down() {
        width: 95%;
    }

    @include phone-down() {
        width: 100%;
    }
}

button {
    margin-top: 20px;
    font-size: 1.1rem;
    font-family: "Roboto Slab";
    color: white;
    background-color: $darkBlue;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: 0;
    cursor: pointer;

    &:hover {
        background: $blue;
    }
}

iframe {
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

#find_us {
    font-family: "Roboto Slab";
    margin-top: 40px;
}

.business_hours {
    width: 100%;
    margin-top: 100px;
    font-family: "Roboto Slab";
}

.business_hours h2 {
    color: $darkBlue;
}

.business_hours ul {
    margin-top: 20px;
}

.business_hours li {
    margin-top: 10px;
}