@import "_variables";

.content_container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.content {
    width: 1000px;
    font-family: "Roboto Slab";
}

.privacy {
    h1 {
        margin-bottom: 30px;
        color: $darkBlue;
    }

    h2 {
        margin-top: 60px;
        margin-bottom: 20px;
        color: $darkBlue;
    }

    h3 {
        margin-bottom: 10px;
        color: $darkBlue;
    }

    p {
        margin-top: 15px;
    }

    ol {
        margin-top: 30px;
    }
}